---
influx:
  host: influx-master.rlyeh.ds
  port: 8086
  user: rpi
  pass: {{ influx_rpi_pass }}
  db: rpi
tuya:  # FIXME
  - measurement: SmartAirBox_Study
    ip: {{ tuya.devices[0].ip }}
    id:  {{ tuya.devices[0].id }}
    key:  {{ tuya.devices[0].key }}
  - measurement: SmartAirBox_Bedroom
    ip: {{ tuya.devices[1].ip }}
    id:  {{ tuya.devices[1].id }}
    key:  {{ tuya.devices[1].key }}
