[Unit]
Description=Ogniochron
Documentation=https://github.com/danielskowronski/ogniochron

[Service]
Type=oneshot
ExecStart=/srv/ogniochron/ogniochron.py -nat /etc/ogniochron_nat.csv -pas /etc/ogniochron_pass.csv -o enp9s0

[Install]
WantedBy=multi-user.target