[Unit]
Description=promtail
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/promtail-linux-{{ cpu_arch }} -config.file=/etc/promtail.yml

[Install]
WantedBy=multi-user.target
