[mysqld]
#mysql settings
skip-host-cache
skip-name-resolve
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_size=0
query_cache_type=0
bind-address={{ ansible_host }}

[galera]
wsrep_on=ON
wsrep_node_name={{ ansible_hostname }}
wsrep_provider="/usr/lib/galera/libgalera_smm.so"
wsrep_cluster_name="mysql0x"

wsrep_cluster_address="gcomm://10.0.2.1,10.0.2.2,10.0.2.3,10.1.2.4"
# To start failed cluster comment out above and uncomment below...Once cluster is started revert changes and restart mysql on main node where change was made
#wsrep_cluster_address="gcomm://"

wsrep_sst_method=rsync
wsrep_provider_options="ist.recv_addr={{ ansible_host }}:4568"
wsrep_provider_options="ist.recv_bind={{ ansible_host }}"
wsrep_node_address="{{ ansible_host }}:4567"

wsrep_provider_options = ""

[sst]
