---
ProxiedHost: zarcioplan.skowronski.cloud
DB: postgresql://{{ postgres_dbs.zarcioplan.user }}:{{ postgres_dbs.zarcioplan.pass }}@psql-master.ds:5432/{{ postgres_dbs.zarcioplan.name }}
Debug: true
Person1: Madga
Person2: Daniel
