global:
  evaluation_interval: 15s
  scrape_interval: 15s
  scrape_timeout: 10s

  external_labels:
    environment: prometheus

rule_files:
  - /etc/prometheus/rules/*.rules

alerting:
  alertmanagers:
  - static_configs:
    - targets:
        - localhost:9093

scrape_configs:
{% for target in federate_host_exporters %}
  - job_name: 'node_{{ target.host }}'
    static_configs:
    - targets: ['{{ target.host }}.{{ target.domain }}:9100']
      labels:
        hostname: '{{ target.host }}.{{ target.domain }}'
        type: node
{% endfor %}
{% for target in federate_other_exporters %}
  - job_name: '{{ target.type }}_{{target.host }}'
    static_configs:
    - targets: ['{{ target.host }}.{{ target.domain }}:{{target.port }}']
      labels:
        hostname: '{{ target.host }}.{{ target.domain }}'
        type: '{{ target.type }}'
{% endfor %}
  - job_name: 'snmp-exporter'
    static_configs:
    - targets: ['192.168.0.222']
    metrics_path: /snmp
    params:
      module: [synology]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 10.0.255.206  # The SNMP exporter's real hostname:port.
